@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v47-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v47-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v47-latin-700.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto" sans-serif;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

.site-header {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
}

.header-left-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 26px 0;
  gap: 20px;
}

.header-left-content {
  position: relative;
  display: flex;
  align-items: center;
  padding: 14px 11px;
  gap: 5px;
  border-left: 1px solid gray;
  color: white;
  transition: all 0.3s;
}
.header-left-content:hover {
  background-color: #4762FF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.header-left-content:hover > span {
  color: white;
}
.header-left-content:hover > svg {
  color: white;
}
.header-left-content:hover > .header-content__popap {
  height: 88px;
  padding: 5px;
}
.header-left-content > span ~ svg {
  transition: transform 0.3s;
}
.header-left-content:hover > span ~ svg {
  transform: rotate(180deg);
}

.header-content__popap {
  position: absolute;
  background-color: #4762FF;
  border-left: 1px solid white;
  color: white;
  top: 48px;
  width: 100%;
  left: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 0;
  overflow: hidden;
}
.header-content__popap > li {
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}
.header-content__popap:hover {
  background-color: white;
  border-radius: 10px;
  color: black;
}

.header-left-content-wrapper > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(51, 51, 51, 0.6980392157);
}

.header-left-content-wrapper > div {
  display: flex;
  align-items: center;
  margin: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.27px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-left: 9px;
  border-left: 1px solid rgba(51, 51, 51, 0.1019607843);
}

.tell-content {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(51, 51, 51, 0.6980392157);
}

.tell-content:hover {
  color: blue;
}

.header {
  padding: 18px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 83px;
}

.header-navbar {
  display: flex;
  align-items: center;
  gap: 46px;
}

.header-navbar > a {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #333333;
}

.header-wrapper > input {
  width: 117px;
  border-left: none;
  border-right: none;
  border-top: none;
  padding-bottom: 5px;
  outline: none;
  color: #707070;
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.75%;
  vertical-align: middle;
}

.header-btn {
  width: 170px;
  padding: 15px 8px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.75%;
  text-align: center;
  vertical-align: middle;
  background-color: #4762FF;
  border-radius: 8px;
  color: #FFFFFF;
  border: solid #FFFFFF;
  transition: all 0.4s;
}

.header-btn:hover {
  color: #4762FF;
  background-color: #FFFFFF;
  border: 1px solid #4762FF;
}

.header-btn > img {
  color: #FFFFFF;
}

.header-btn > img:hover {
  color: #4762FF;
}

.site-main {
  margin-top: 180px;
}

.hero-section {
  padding: 107px 0 122px;
  background-image: url(../images/background-img.png);
  background-position: center;
  background-size: contain;
}

.hero-content-wrapper {
  width: 565px;
}

.hero-content-wrapper > h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #FFFFFF;
}

.hero-content-wrapper > p {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 32px;
  color: #FFFFFF;
}

.hero-content-wrapper > button {
  padding: 15px 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background-color: #4762FF;
  color: #FFFFFF;
  border-radius: 8px;
  border: solid #4762FF;
  transition: all 0.4s;
}

.hero-content-wrapper > button:hover {
  color: #4762FF;
  background-color: #FFFFFF;
}

.content-section {
  padding: 68px;
}

.content {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.content__title--wrapper {
  width: 530px;
}

.content__title {
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #333333;
}

.content__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(51, 51, 51, 0.8);
  padding-bottom: 25px;
}

.content__btn--wrapper {
  padding: 60px;
  padding-left: 360px;
}

.content__btn {
  padding: 15px 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background-color: #4762FF;
  color: #FFFFFF;
  border-radius: 8px;
  border: solid #4762FF;
  transition: all 0.4s;
}

.content__btn:hover {
  color: #4762FF;
  background-color: #FFFFFF;
}

.catalog__title--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(51, 51, 51, 0.8);
}

.catalog__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog__card--wrapper {
  padding-top: 71px;
}

.catalog__card {
  width: 190px;
}

.catalog__card--header > h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
}

.catalog__card--header > p {
  padding-bottom: 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(51, 51, 51, 0.8);
}

.catalog__card--btn {
  padding: 10px 60px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background-color: #4762FF;
  color: #FFFFFF;
  border-radius: 8px;
  border: solid #4762FF;
  transition: all 0.4s;
}

.catalog__card--btn:hover {
  color: #4762FF;
  background-color: #FFFFFF;
}

.content-card__wrapper {
  width: 816px 200px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 58px;
}

.content-card {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}

.card-text {
  width: 813px;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.content-card__wrapper > img {
  padding-top: 114px;
}

.card-item {
  text-align: center;
  margin: 0 auto;
}
.card-item > h2 {
  margin-top: 67px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.card-img {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}/*# sourceMappingURL=main.css.map */